<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dochub - Answer QnA</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel = "s<tylesheet"> -->
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='docchub2.png') }}" alt="Logo" style="width:10vw;">
        </a>
        <a class="navbar-brand mx-auto" href="#">Answer Question</a>
        <button class="invisible btn btn-sm btn-outline-info mr-2" type="submit" name="d_id" value="{{d_id}}">Manage Schedule</button>
        <button class="invisible btn btn-sm btn-outline-info" type="submit" name="d_id" value="{{d_id}}">Manage Schedule</button>
    </nav>
    
	<div class="container pt-5">
        <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Question Name</th>
			<th scope="col">Answer</th>
          </tr>
        </thead>
        <tbody>
			{% for q_id, question in questions %}
				<tr>
				<td>{{question}}</td>
				<td>
                    <form method="post" action="submit_answer">
                        <div class="input-group">
                        <input type="text" name = 'answer' class="form-control">
                        <div class="input-group-append">
                        <button type="submit" name='q_id' value="{{q_id}}" class="btn btn-sm btn-outline-success">Answer</button>
                        </div>
                        </div>
				</td>
				</tr>
			{% endfor %}	
		</tbody>
		</table>
    </div>
</body>