<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dochub - Ask QnA</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel = "s<tylesheet"> -->
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='docchub2.png') }}" alt="Logo" style="width:10vw;">
        </a>
        <a class="navbar-brand mx-auto" href="#">Ask Question</a>
        <button class="invisible btn btn-sm btn-outline-info mr-2" type="submit" name="d_id" value="{{d_id}}">Manage Schedule</button>
        <button class="invisible btn btn-sm btn-outline-info" type="submit" name="d_id" value="{{d_id}}">Manage Schedule</button>
    </nav>
    
	<div class="container pt-5">
        <div class="row justify-content-center">
            <form method="post" action="submit_question">
                <div class="form-group">
                    <label for="q">Question</label>
                    <input type="text" class="form-control" id="q" name="question" placeholder="Ask your Question here">
                </div>
                <button type="submit" class = "btn btn-primary">Ask</button>
            </form>
        </div>
        </div>
    </div>
</body>