<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dochub - Clinic: {{ username }}</title>
</head>
<body>
    <nav>
            <a href="#">
            <img src="{{ url_for('static', filename='docchub2.png') }}" alt="Logo" style="width:10vw;">
            </a>
            <a href="#">Welcome {{ name }}!</a>
            <form method="post" action="manage_timings">
                <button type="submit">Manage Clinic timings</button>
            </form>
            <form method="post" action="clinic_doctors">
                <button type="button" name = "c_id" value="{{c_id}}">Manage Doctors</button>
            </form>
            <form action="update_profile" method="post" >
                <button type="submit" name="profile_type" value="clinic">Profile</button>
            </form>
    </nav>
	<div>
		<table>
        <thead>
          <tr>
            <th scope="col">Patient</th>
			<th scope="col">Date Time</th>
			<th scope="col">Doctor</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
			{% for a_id, p_id, p_name, d_id, d_name, schedule, description in appointments %}
				<tr>
				<td>{{p_name}}</td>
				<td>{{schedule}}</td>
				<td>{{d_name}}</td>
				<td>{{description}}</td>
				<td>
                    <form method="post" action="reschedule_app">
                        <button type="submit" name="reschedule" value="clinic_{{ a_id }}">Reschedule</button>
                    </form>
					<form method="post" action="clinic_cancel_appointment">
                        <button type="button" name="a_id" value="{{a_id}}}">Cancel</button>
                    </form>
				</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</body>
</html>