<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dochub - Doctor: {{ username }}</title>
</head>
<body>
	<nav>
                <a href="#">
                <img src="{{ url_for('static', filename='docchub2.png') }}" alt="Logo" style="width:10vw;">
                </a>
                <a href="#">Welcome Dr. {{ name }}!</a>
				<button type="button">Manage Schedule</button>
				<button type="button">Profile</button>
    </nav>
	<div>
		<table>
        <thead>
          <tr>
            <th scope="col">Patient Name</th>
			<th scope="col">Date Time</th>
			<th scope="col">Clinic</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
			{% for name, datetime, clinic in appointments %}
				<tr>
				<td>{{name}}</td>
				<td>{{datetime}}</td>
				<td>{{clinic}}</td>
				<td>
					<button type="button">Treat</button>
					<button type="button">Reschedule</button>
					<button type="button">Cancel</button>
				</td>
				</tr>
			{% endfor %}	
		</tbody>
		</table>
	</div>
</body>
</html>