<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dochub</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel = "s<tylesheet"> -->
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='docchub2.png') }}" alt="Logo" style="width:10vw;">
                </a>
                <a class="navbar-brand mx-auto" href="#">Welcome to DocHub!</a>
                <form method="post" action="qna">
                  <button class="btn btn-sm btn-outline-info ml-5">QnA</button>
                </form>
        </nav>
	<div class="container pt-5">
                <div class="row justify-content-center">
                        <h3>Login</h3>
                </div>
                <div class="row justify-content-center">
                        <form action="login_signup" method="post">
                                <div class="form-check-inline">
                                        <label class="form-check-label" for="doctor">
                                          <input type="radio" class="form-check-input" id="doctor" name="usertype" value="doctor" checked>Doctor
                                        </label>
                                      </div>
                                      <div class="form-check-inline">
                                        <label class="form-check-label" for="patient">
                                          <input type="radio" class="form-check-input" id="patient" name="usertype" value="patient">Patient
                                        </label>
                                      </div>
                                      <div class="form-check-inline">
                                        <label class="form-check-label" for="clinic">
                                          <input type="radio" class="form-check-input" id="clinic" name="usertype" value="clinic">Clinic
                                        </label>
                                      </div>
                                      <div class="form-check-inline">
                                        <label class="form-check-label" for="pharmacy">
                                          <input type="radio" class="form-check-input" id="pharmacy" name="usertype" value="pharmacy">Pharmacy`
                                        </label>
                                      </div>
                                      <div class="form-group">
                                        <label for="email">Username:</label>
                                        <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username">
                                      </div>
                                      <div class="form-group">
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" placeholder="Enter Password" id="pwd" name="password">
                                      </div>
                                        <button type="submit" name="loginorsignup" class="btn btn-primary" value="login">Login</button>
                                        <button type="submit" name="loginorsignup" class="btn btn-info" value="signup">Signup</button>
                                      <div class="pt-2">
                                        {% for message in get_flashed_messages() %}
                                        <div class="alert alert-warning">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                {{ message }}
                                        </div>
                                        {% endfor %}
                                        </div>
                        </form>
                </div>
	</div>
</body>
</html>