<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dochub - Patient : {{ name }}</title>
</head>
<body>
    <nav>
            <a href="#">
            <img src="{{ url_for('static', filename='docchub2.png') }}" alt="Logo" style="width:10vw;">
            </a>
            <a href="#">Welcome Mr. {{ name }}!</a>
            <button type="button">Book an Appointment</button>
            <button type="button">See Medical history</button>
            <button type="button">Profile</button>
    </nav>
    <table>
        <thead>
          <tr>
            <th scope="col">Doctor</th>
            <th scope="col">Date Time</th>
            <th scope="col">Clinic</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
			{% for a_id, c_name, d_name, schedule, description in appointments %}
				<tr>
				<td>Dr. {{d_name}}</td>
				<td>{{schedule}}</td>
				<td>{{c_name}}</td>
        <td>{{description}}</td>
				<td>
					<button type="button">Reschedule</button>
					<button type="button">Cancel</button>
				</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</body>
</html>