<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dochub - Patient : {{  username }}</title>
</head>
<body>
    <nav>
            <a href="#">
            <img src="{{ url_for('static', filename='docchub2.png') }}" alt="Logo" style="width:10vw;">
            </a>
            <a href="#">Welcome Mr. {{ name }}!</a>
            <form method="post" action="">
                <button type="submit">Book an Appointment</button>
            </form>
            <form method="post" action="">
                <button type="submit">See Medical history</button>
            </form>
            <form method="post" action="update_profile">
                <button type="submit" name="profile_type" value="patient">Profile</button>
            </form>
    </nav>
    <table>
        <thead>
          <tr>
            <th scope="col">Doctor</th>
			<th scope="col">Date Time</th>
			<th scope="col">Clinic</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
			{% for doctor, datetime, clinic in appointments %}
				<tr>
				<td>{{doctor}}</td>
				<td>{{datetime}}</td>
				<td>{{clinic}}</td>
				<td>
                    <form method="post" action="">
                        <button type="submit">Reschedule</button>
                    </form>
					<form method="post" action="">
                        <button type="submit">Cancel</button>
                    </form>
				</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</body>
</html>