<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    {%  if usertype =="doctor" %}
        <form method="post" action="new_doctor">
            <input type="text" id="name" name='d_name' placeholder="Enter your name">
            <input type="text" id="specialization" name='specialization' placeholder="Specialization">
            <input type="text" id="contact" name='phone' placeholder="Your contact number">
            <input type="number" id="fee" name='fee' placeholder="What fee you will charge? ">
            <input type="text" id="username" name='username' placeholder="Enter new username">
            <input type="password" id="password" name='password' placeholder="Enter new pssword">

            <button type="submit" >Create Account</button>
        </form>
    {% endif %}
    {% if usertype=="patient" %}
        <form method="post" action="new_patient">
            <input type="text" id="name" name="p_name" placeholder="Enter your name">
            <label for="male">
                <input type="radio" id="sex_m" name="sex" value="M" > Male
            </label>
            <label for="female">
                <input type="radio" id="sex_f" name="sex" value="F" > Female
            </label>
            <input type="number" id="age" name="age" min="0" max="120" placeholder="Your age here">
            <input type="text" id="contact" name="phone" placeholder="Your contact number">
            <input type="text" id="username" name='username' placeholder="Enter new username">
            <input type="password" id="password" name='password' placeholder="Enter new pssword">
            <button type="submit" >Create Account</button>
        </form>
    {% endif %}
    {% if usertype=="clinic" %}
        <form method="post" action="new_clinic">
            <input type="text" id="name" name="c_name" placeholder="Enter your name">
            <input type="text" id="address" name="address" placeholder="Address">
            <input type="text" id="contact" name="phone" placeholder="Your contact number">
            <h4>Please select your opening days</h4>
            <input type="checkbox" id="days" name="days" value="Monday">
            <label for="days" >Monday</label>
            <input type="checkbox" id="days" name="days" value="Tuesday">
            <label for="days" >Tuesday</label>
            <input type="checkbox" id="days" name="days" value="Wednesday">
            <label for="days" >Wednesday</label>
            <input type="checkbox" id="days" name="days" value="Thursday">
            <label for="days" >Thursday</label>
            <input type="checkbox" id="days" name="days" value="Friday">
            <label for="days" >Friday</label>
            <input type="checkbox" id="days" name="days" value="Saturday">
            <label for="days" >Saturday</label>
            <input type="checkbox" id="days" name="days" value="Sunday">
            <label for="days" >Sunday</label>
            <h4>Enter your Clinic timings</h4>
            <input type="time" id="openingtime" name="openingtime" placeholder="Opening time">
            <input type="time" id="closingtime" name="closingtime" placeholder="Closing time">
            <h5>You can add/remove timings later </h5>
            <input type="text" id="username" name='username' placeholder="Enter new username">
            <input type="password" id="password" name='password' placeholder="Enter new pssword">
            <button type="submit" >Create Account</button>
        </form>
    {% endif %}
    {% if usertype=="pharmacy" %}
        <form method="post" action="new_pharmacy">
            <input type="text" id="name" name="pharma_name" placeholder="Enter your name">
            <input type="number" id="contact" name="phone" placeholder="Your contact number">
            <input type="text" id="username" name='username' placeholder="Enter new username">
            <input type="password" id="password" name='password' placeholder="Enter new pssword">
            <button type="submit" >Create Account</button>
        </form>
    {% endif %}
</body>
</html>