<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocHub: Treat Patient</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel = "s<tylesheet"> -->
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='docchub2.png') }}" alt="Logo" style="width:10vw;">
        </a>
        <a class="navbar-brand mx-auto" href="#">Treat Patient</a>
            <button class="invisible btn btn-sm btn-outline-info mr-2" type="submit" name="d_id" value="{{d_id}}">Manage Schedule</button>
            <button class="invisible btn btn-sm btn-outline-info" type="submit" name="profile_type" value="doctor,{{d_id}}">Profile</button>
    </nav>

<body>
    <div class="container pt-5">
        <h4>Past prescriptions </h4>
		<table class="table table-sm col-4">
        <thead>
          <tr>
            <td scope="col">
			{% for medicine in past_pres %}
				{{ medicine }},
			{% endfor %}
            </td>
          </tr>
        </thead>
		</table>
    <form method="post" action="new_prescription">
        <label for="new_pres">Give Prescription </label>
        <input type="text" id="new_pres" name="new_pres" placeholder="Enter prescription here">
        <button type="submit" class = "btn btn-sm btn-primary" name = "a_id" value="{{a_id}},{{p_id}},{{name}}"> Add </button>
    </form>
    </div>
    <div class="container pt-3">
        <h4>Medical History </h4>
		<table class="table">
        <thead>
          <tr>
            <th scope="col">Type of Disease</th>
            <th scope="col">Disease</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Allergies </td>
                <td>
                    {% for allergy in allergies %}
                        {{ allergy }},
                    {% endfor %}
                </td>
            </tr>
			<tr>
                <td>Diabetes </td>
                <td>
                    {% for diabete in diabetes %}
                        {{ diabete }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Blood Pressure </td>
                <td>
                    {% for blood_pressure in bp %}
                        {{ blood_pressure }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Infectious Diseases </td>
                <td>
                    {% for infec in infections %}
                        {{ infec }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Family history </td>
                <td>
                    {% for fmly in fam_history %}
                        {{ fmly }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Surgical history </td>
                <td>
                    {% for surg in surgical_history %}
                        {{ surg }},
                    {% endfor %}
                </td>
            </tr>
		</tbody>
		</table>
    
    <h4>Add History</h4>
    <form method="post" action="add_med_history">
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <label for="allergies"> Allergies </label>
                <input type="text" class="form-control" id="allergies" name="allergies" placeholder="Enter Allergies">
            </div>
            <div class="col">
                <label for="diabetes"> Diabetes </label>
                <input type="text" class="form-control" id="diabetes" name="diabetes" placeholder="Enter Diabetes">
            </div>
            <div class="col">
                <label for="bp"> Blood Pressure </label>
                <input type="text" class="form-control" id="bp" name="bp" placeholder="Enter Blood Pressure">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="infectious_diseases"> Infectious Diseases </label>
                <input type="text" class="form-control" id="infectious_diseases" name="infectious_diseases" placeholder="Enter Infectious Diseases">
            </div>
            <div class="col">
                <label for="family_history"> Family History </label>
                <input type="text" class="form-control" id="family_history" name="family_history" placeholder="Enter Family History">
            </div>
            <div class="col">
                <label for="surgical_history"> Surgical History </label>
                <input type="text" class="form-control" id="surgical_history" name="surgical_history" placeholder="Enter Surgical History">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" name='a_id_p_id_name' value="{{a_id}},{{p_id}},{{name}}"> Add to History</button>
    </form>
    </div>
    <div  class="container pt-3 mb-3">
        <h4> Past Reports </h4>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Symptoms </th>
			<th scope="col">Disease </th>
			<th scope="col">Tests Required </th>
            <th scope="col">Test Reports </th>
          </tr>
        </thead>
        <tbody>
			{% for symptoms,disease,test_req,test_rep in past_reports %}
				<tr>
				<td>{{ symptoms }}</td>
				<td>{{ disease }}</td>
				<td>{{ test_req }}</td>
                <td>{{ test_rep }}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	
    <h3> Add New Report </h3>
    <form method="post" action="add_report">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="symptoms"> Symptoms </label>
                    <input type="text" class="form-control" id="symptoms" name="symptoms" placeholder="What are the symptoms?">
                </div>
                <div class="col">
                    <label for="disease"> Disease </label>
                    <input type="text" class="form-control" id="disease" name="disease" placeholder="What is the disease patient is suffering from?">
                </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="test_req"> Tests required </label>
                <input type="text" class="form-control" id="test_req" name="test_req" placeholder="What are test required?">
            </div>
            <div class="col">
                <label for="test_rep"> Test reports </label>
                <input type="text" class="form-control" id="test_rep" name="test_rep" placeholder="Test report says...">
            </div>
        </div>
    </div>
        <button type="submit" class="btn btn-primary" name = "a_id" value="{{a_id}},{{p_id}},{{name}}"> Add </button>
    </form>
    </div>
</body>
</body>
</html>